@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/quicksand.woff2') format('woff2');
}

@font-face {
  font-family: 'Pacifico';
  src: url('/fonts/pacifico.woff2') format('woff2');
}

:root {
  --accent: #e5a91e;
  --primary: #036c8b;
  --secondary: #00e0ff;
  --black: #121927;
  --white: #fdfdfd;

  --bg: var(--primary);
  --text: var(--black);
  --h-text: var(--primary);

  /* --mint: #aeeade;
  --light-blue: #bee0df;
  --dark-blue: #465881;
  --royal-blue: #307ba7;
  --mint: #aeeade;
  --caribbean: #00e0ff;
  --blue: #5fc7e4;
  --light-teal: #68d2c8;
  --teal: #036c8b;
  --yellow: #e5a91e;
  --navy: #1b2a49;
  --gray: #333333;
  --green: #4b9139; */

  --shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadow-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: clamp(1rem, 1rem + 1vw, 1.2rem);
  line-height: 1.5;
  background: var(--bg);
  color: var(--text);
  background: linear-gradient(
    126.53deg,
    #036d9e -9.6%,
    #036e9f -4.44%,
    #0571a1 0.72%,
    #0775a5 5.88%,
    #097caa 11.05%,
    #0d85b1 16.21%,
    #1290ba 21.37%,
    #169bc3 26.53%,
    #1ca7cd 31.7%,
    #20b2d6 36.86%,
    #25bddf 42.02%,
    #29c6e6 47.18%,
    #2bcdeb 52.35%,
    #2dd1ef 57.51%,
    #2fd4f1 62.67%,
    #2fd5f2 67.83%
  );
  overflow-x: hidden;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--h-text);
  font-family: Pacifico, sans-serif;
  margin: 0;
}

h1 {
  font-size: clamp(1.75rem, 2rem + 1vw, 2.5rem);
}

h2 {
  font-size: clamp(1.5rem, 1.5rem + 1vw, 2.25rem);
}

h3 {
  font-size: clamp(1.25rem, 1.25rem + 0.75vw, 2rem);
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  scrollbar-width: thin;
  scrollbar-color: var(--black) var(--secondary);
}

:root::-webkit-scrollbar {
  width: 8px;
}
:root::-webkit-scrollbar-track {
  background: var(--black);
}
:root::-webkit-scrollbar-thumb {
  background: var(--secondary);
}
:root::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
