@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--color-surface-400)) rgb(var(--color-primary-400));
  scroll-behavior: smooth;
}

.no-scrollbar {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0 !important;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: rgb(var(--color-surface-400));
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-primary-400));
  border-radius: 14px;
  border: 3px solid rgb(var(--color-surface-400));
}

html,
body,
#svelte {
  @apply h-full w-full overflow-x-hidden;
}

body {
  @apply mr-[17px] bg-surface-900 font-sans text-lg text-white md:text-xl;
}

.btn {
  @apply rounded-lg border-2 border-transparent bg-primary-400 px-8 py-4 font-sans font-bold text-primary-900 transition-colors hover:border-tertiary-400 hover:bg-primary-300 hover:text-primary-900;
}
/* background: radial-gradient(ellipse at top, #e66465, transparent),
	radial-gradient(ellipse at bottom, #4d9f0c, transparent); */

/* background-image: radial-gradient(ellipse at top, rgb(var(--color-primary-900)), transparent 90%),
		radial-gradient(ellipse at bottom, rgb(var(--color-surface-900)), transparent 90%); */

#svelte {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

h1 {
  @apply mb-8 text-5xl;
}

h2 {
  @apply text-3xl md:text-4xl lg:text-5xl;
}

a {
  @apply inline-block whitespace-nowrap border-b-1 border-transparent text-primary-400 transition-all hover:text-tertiary-400;
}

a:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
  background: transparent;
}

a:hover:after {
  @apply bg-primary-400;
  width: 100%;
  transition:
    width 0.5s ease,
    background-color 0.5s ease;
}

article {
  max-width: 80ch;
  margin-inline: auto;
}

p {
  @apply whitespace-normal break-words;
}

/* pink and blues lights */
/* .light {
	background-image: radial-gradient(at 73% 84%, hsla(213, 80%, 69%, 0.18) 0px, transparent 50%),
		radial-gradient(at 16% 79%, hsla(268, 79%, 73%, 0.18) 0px, transparent 50%),
		radial-gradient(at 88% 64%, hsla(290, 68%, 62%, 0.18) 0px, transparent 50%),
		radial-gradient(at 67% 14%, hsla(167, 87%, 76%, 0.18) 0px, transparent 50%),
		radial-gradient(at 70% 75%, hsla(170, 71%, 68%, 0.18) 0px, transparent 50%),
		radial-gradient(at 98% 62%, hsla(244, 77%, 60%, 0.18) 0px, transparent 50%),
		radial-gradient(at 50% 19%, hsla(322, 97%, 63%, 0.18) 0px, transparent 50%);
} */
