@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#svelte {
	@apply w-full h-full;
}

body {
	@apply bg-surface-900 font-sans text-white text-lg md:text-xl;
	scroll-behavior: smooth;
}

.btn {
	@apply px-8 py-4 rounded-lg bg-primary-400 text-white font-sans font-bold;
}
/* background: radial-gradient(ellipse at top, #e66465, transparent),
	radial-gradient(ellipse at bottom, #4d9f0c, transparent); */

/* background-image: radial-gradient(ellipse at top, rgb(var(--color-primary-900)), transparent 90%),
		radial-gradient(ellipse at bottom, rgb(var(--color-surface-900)), transparent 90%); */

#svelte {
	position: relative;
}

.page-container {
	@apply container mx-auto p-4 md:p-12 space-y-8 md:space-y-12;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-heading;
}

h1 {
	@apply text-5xl mb-8;
}

h2 {
	@apply text-3xl;
}

a {
	@apply whitespace-nowrap text-primary-400 border-b-1 border-transparent hover:text-tertiary-400 transition-all;
}

a:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0;
	background: transparent;
}

a:hover:after {
	@apply bg-primary-400;
	width: 100%;
	transition: width 0.5s ease, background-color 0.5s ease;
}

article {
	max-width: 80ch;
	margin-inline: auto;
}

/* pink and blues lights */
/* .light {
	background-image: radial-gradient(at 73% 84%, hsla(213, 80%, 69%, 0.18) 0px, transparent 50%),
		radial-gradient(at 16% 79%, hsla(268, 79%, 73%, 0.18) 0px, transparent 50%),
		radial-gradient(at 88% 64%, hsla(290, 68%, 62%, 0.18) 0px, transparent 50%),
		radial-gradient(at 67% 14%, hsla(167, 87%, 76%, 0.18) 0px, transparent 50%),
		radial-gradient(at 70% 75%, hsla(170, 71%, 68%, 0.18) 0px, transparent 50%),
		radial-gradient(at 98% 62%, hsla(244, 77%, 60%, 0.18) 0px, transparent 50%),
		radial-gradient(at 50% 19%, hsla(322, 97%, 63%, 0.18) 0px, transparent 50%);
} */
